.headerco{
    background-color: #F8F9FA;
}
.slidertex {
    bottom: 18.25rem !important;
}
.formtab{
    background-color: #F8F9FA;
}
.lowercar{
    background-color: #F8F9FA !important;
}
.course{
    margin-left: -30px !important;
}